@import '../../styles.less';

.aboutpage-container {
	padding: @page-margin;
	padding-top: 0; //to offset the sticky navbar padding

	.navbar-container {
		display: flex;
		justify-content: center;
		position: sticky;
		top: 0;
		padding-top: 15px;
		background-color: transparent;
	}

	.title {
		margin-top: @component-spacing-large;
		font-size: @fontsize-phone-medium;
		color: @text-01;
		margin-bottom: 15px;
	}

	.two {
		margin-top: @component-spacing-small;
		margin-bottom: 15px;
	}

	.content {
		margin-top: 15px;
		color: @text-02;
		font-size: @fontsize-phone-small;
		line-height: 2;
	}

	mark {
		color: @text-01;
	}

	br {
		margin-bottom: 10px;
	}

	.image-container {
		margin-top: @component-spacing-small;
		max-width: 100%;

		img {
			max-width: 100%;
		}
	}

	.experience-container {
		// margin-bottom: 30px;

		.rightleft-container {
			display: flex;
			flex-direction: row;
			margin-top: 15px;

			.right {
				display: flex;
				flex-direction: column;
				width: 100%;
			}

			.left {
				display: flex;
				justify-content: flex-end;
				width: 100%;
			}
		}

		.e-title {
			color: @text-01;
			font-size: @fontsize-phone-small;
		}


		.e-company {
			color: @text-02;
			font-size: @fontsize-phone-small;
			margin-bottom: 10px;
			margin-top: 5px;

		}

		.e-date {
			color: @text-02;
			font-size: @fontsize-phone-xsmall;
		}
	}

	.education-container {
		.rightleft-container {
			display: flex;
			flex-direction: row;
			margin-top: 15px;
			margin-bottom: 15px;

			.right {
				display: flex;
				flex-direction: column;
				width: 150%;
			}

			.left {
				display: flex;
				justify-content: flex-end;
				width: 50%;
			}
		}

		.e-title {
			color: @text-01;
			font-size: @fontsize-phone-small;
			margin-bottom: 5px;
		}


		.e-company {
			color: @text-02;
			font-size: @fontsize-phone-small;
			margin-top: 2.5px;
		}

		.e-date {
			color: @text-02;
			font-size: @fontsize-phone-xsmall;
		}
	}


}
