.projects-container {
	padding-top: 100px;
}
.demo {
	width: 100px;
	height: 50px;
	border-radius: 5px;
}
.project1-container,
.project2-container,
.project3-container,
.project4-container {
	display: flex;
	flex-direction: row;
}
.project2-container {
	margin-top: 40px;
	margin-bottom: 40px;
}
.project3-container {
	margin-top: 40px;
	margin-bottom: 40px;
}
.project4-container {
	margin-top: 40px;
}
.projects-container .title {
	font-size: larger;
}
.p-title {
	margin-bottom: 30px;
	font-size: larger;
}
.sub-container {
	margin-left: 20px;
	text-decoration: none;
}
.sub-container a,
.sub-container p,
.sub-container .b-bubble,
.sub-container .title {
	text-decoration: none !important;
}
.projects-container a {
	text-decoration: none !important;
}
.sub-container p {
	margin-top: 10px;
	word-spacing: 0.1em;
	line-height: 1.5em;
	font-size: small;
	color: #a9a9a9;
	margin-bottom: 20px;
}
.newarrow {
	width: 20px;
	height: 20px;
	position: absolute;
	margin-left: 135px;
	margin-top: -20px;
	background-color: white;
	-webkit-mask: url(/icons/arrowslant.svg) no-repeat center;
	mask: url(/icons/arrowslant.svg) no-repeat center;
}
.exportgithub {
	width: 20px;
	height: 20px;
	position: absolute;
	margin-left: 135px;
	margin-top: -20px;
	background-color: white;
	-webkit-mask: url(/icons/github.svg) no-repeat center;
	mask: url(/icons/github.svg) no-repeat center;
}
.project2-container .newarrow {
	margin-left: 155px;
}
.project2-container .exportgithub {
	margin-left: 185px;
}
.project1-container .newarrow {
	margin-left: 60px;
}
.project1-container .exportgithub {
	margin-left: 90px;
}
.project3-container .exportgithub {
	margin-left: 150px;
}
.project4-container .exportgithub {
	margin-left: 145px;
}

@media (max-width: 500px) {
    .projects-container {
		margin-left: 10px;
		margin-right: 10px;
	}
	.sub-container p {
		margin-bottom: 15px;
	}
	.project1-container,
	.project2-container,
	.project3-container,
	.project4-container {
		display: flex;
		flex-direction: column;
	}
	.demo {
		max-width: 500px;
		max-height: auto;
		width: 100%;
		height: auto;
		/* margin-top: 15px; */
		order: 1;
		margin-bottom: 15px;
	}
	.sub-container {
		order: 2;
		margin-left: 0px;
	}   
}
@media (min-width: 500px) {
    .demo {
		width: 150px;
		height: 100px;
	}
	.left-side {
		width: 150px;
	}
}

@media (min-width: 1500px) {
    .project1-container,
	.project2-container,
	.project3-container,
	.project4-container {
		display: flex;
		flex-direction: row;
		text-decoration: none;
		outline: none;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}
	.projects-container .project1-container:hover,
	.projects-container .project2-container:hover,
	.projects-container .project3-container:hover,
	.projects-container .project4-container:hover {
		transform: scale(1.05);
	}
	.projects-container .project1-container:hover p,
	.projects-container .project2-container:hover p,
	.projects-container .project3-container:hover p,
	.projects-container .project4-container:hover p {
		color: white;
	}
	.projects-container .project1-container:hover .title,
	.projects-container .project2-container:hover .title,
	.projects-container .project3-container:hover .title,
	.projects-container .project4-container:hover .title {
		color: #21c55d;
	}
	.project1-container:hover img.arrow path,
	.project2-container:hover img.arrow path,
	.project3-container:hover img.arrow path,
	.project4-container:hover img.arrow path {
		fill: #21c55d;
	}

	.project1-container:hover .newarrow,
	.project2-container:hover .newarrow,
	.project3-container:hover .newarrow,
	.project4-container:hover .newarrow {
		background-color: #21c55d;
	}

	.project1-container:hover .exportgithub,
	.project2-container:hover .exportgithub,
	.project3-container:hover .exportgithub,
	.project4-container:hover .exportgithub {
		background-color: #21c55d;
	}

	.newarrow {
		width: 20px;
		height: 20px;
		position: absolute;
		margin-left: 135px;
		margin-top: -20px;
		background-color: white;
		-webkit-mask: url(/icons/arrowslant.svg) no-repeat center;
		mask: url(/icons/arrowslant.svg) no-repeat center;
	}
	.exportgithub {
		width: 20px;
		height: 20px;
		position: absolute;
		margin-left: 135px;
		margin-top: -20px;
		background-color: white;
		-webkit-mask: url(/icons/github.svg) no-repeat center;
		mask: url(/icons/github.svg) no-repeat center;
	}

	.project1-container .newarrow {
		margin-left: 60px;
	}
	.project2-container .newarrow {
		margin-left: 155px;
	}
	.project2-container .exportgithub {
		margin-left: 180px;
	}
	.project1-container .exportgithub {
		margin-left: 85px;
	}
	.project3-container .exportgithub {
		margin-left: 145px;
	}
	.project4-container .exportgithub {
		margin-left: 145px;
	}
}