.education-section h1 {
	font-size: larger;
	margin-bottom: 10px;
}
.education-section p {
	word-spacing: 0.1em;
	line-height: 1.5em;
	font-size: small;
	color: #a9a9a9;
}
.education-s {
	padding-top: 100px;
}
.education-s .title {
	font-size: larger;
	margin-bottom: 30px;
}
.education-section {
	display: flex;
	flex-direction: row;
}
.date-container {
	display: flex;
	justify-content: start;
	padding-right: 10px;
	margin-bottom: 10px;
}
.left-side {
	display: flex;
	flex-direction: column;
	width: 100px;
	padding-right: 15px;
}
.left-side img {
	width: 70px;
	height: auto;
}
.right-side {
	display: flex;
	flex-direction: column;
}

@media (min-width: 500px) {
	.left-side {
		width: 150px;
	}
}

@media (max-width: 500px) {
    .education-s {
		margin-left: 10px;
		margin-right: 10px;
	}
}