.skills-container {
	padding-top: 100px;
}
.sub-containers {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}
.sub-containers:first-child {
	margin-top: 0px;
}
.bubbles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}
.skills-container .title {
	font-size: larger;
	margin-bottom: 15px;
}
.spacer {
	padding: 5px;
}
.b-bubble {
	font-size: small;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
	background-color: #1e3356;
	color: #3b81f6;
}
.g-bubble {
	font-size: small;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
	background-color: #1c4829;
	color: #21c55d;
}
.p-bubble {
	font-size: small;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
	background-color: #3e2657;
	color: #a854f7;
}
.r-bubble {
	font-size: small;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
	background-color: #552221;
	color: #ef4444;
}
.y-bubble {
	font-size: small;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
	background-color: #524218;
	color: #e9b207;
}

@media (max-width: 500px) {
    .skills-container {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media (min-width: 1500px) {
	.skills-container {
        padding-top: 0;
		margin-top: 100px;
	}
	
}