@import '../../styles.less';

.homepage-container {
	padding: @page-margin;
	padding-top: 0; //to offset the sticky navbar padding

	.leftright-container {}

	.navbar-container {
		display: flex;
		justify-content: center;
		position: sticky;
		top: 0;
		padding-top: 15px;
		background-color: transparent;
	}

	.head-container {
		margin-top: @component-spacing;
	}

	.rightside-container {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		gap: 30px;
	}

	.footer-container {}

}

@media (min-width: 600px) {
	.homepage-container {
		display: flex;
		justify-content: center;
		flex-direction: column;

		.leftright-container {
			border-color: red;
			border-style: solid;
			max-width: 600px;
		}
	}
}

@media (min-width: 1000px) {
	.homepage-container {
		display: flex;
		justify-content: flex-start;

		.leftright-container {
			border-color: blue;
			border-style: solid;

			display: flex;
			flex-direction: row;
			width: 100%;
			max-width: 100%;

			.head-container {
				display: flex;
				justify-content: flex-start;
				flex: 1;
				border-color: green;
				border-style: solid;
			}

			.rightside-container {
				display: flex;
				justify-content: flex-end;
				flex: 1;
				border-color: purple;
				border-style: solid;

			}
		}
	}
}
