.head-container {
	margin-top: 100px;
	position: relative;
	max-width: 500px;
	margin-left: 10px;
	margin-right: 10px;
	/* border-color: red;
	border-style: solid; */
}
.small-head-container {
	display: flex;
	flex-direction: row;
	gap: 15px;
}
.small-head-container .leftside {
	/* border-color: red;
	border-style: solid; */
}
.small-head-container .rightside {
	margin-top: 15px;
	/* border-color: blue;
	border-style: solid; */
}
.small-head-container .intro-title {
	font-size: medium;
}
.small-head-container .intro-desc {
	font-size: small;
	margin-top: 5px;
	color: #a9a9a9;
}
.profile {
	border-radius: 100px;
	width: 100px;
	height: 100px;
}

/* .head-container {
	margin-top: 50px;
	position: relative;
	max-width: 500px;
	margin-left: 10px;
	margin-right: 10px;
}
.profile {
	border-radius: 100px;
}
.head-container .name {
	margin-top: 10px;
	font-family: "Aileron-Heavy", sans-serif;
	font-size: xx-large;
}
.head-container .fullstack {
	margin-top: 10px;
	font-family: "Aileron", sans-serif;
	font-size: large;
	color: grey;
}
.head-container .location {
	margin-top: 10px;
	font-family: "Aileron", sans-serif;
	font-size: large;
	color: grey;
}
.head-container p {
	margin-top: 10px;
	font-size: medium;
	color: #a9a9a9;
}
*/
.head-container .version {
	display: none;
}
.scroll {
	display: none;
} 
/* icons */
.lightdark {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
}
.smalllightdark {
	display: none;
}
.icons-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-top: 20px;
	margin-bottom: 80px;
}
.icons-container img {
	width: 25px;
	height: 25px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.icons-container img:hover {
	transform: scale(1.15);
}
.newgithub {
	width: 25px;
	height: 25px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	background-color: white;
	-webkit-mask: url(/icons/github.svg) no-repeat center;
	mask: url(/icons/github.svg) no-repeat center;
}
.newlinkedin {
	width: 25px;
	height: 25px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	background-color: white;
	-webkit-mask: url(/icons/linkedin.svg) no-repeat center;
	mask: url(/icons/linkedin.svg) no-repeat center;
}
.newemail {
	width: 25px;
	height: 25px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	background-color: white;
	-webkit-mask: url(/icons/email.svg) no-repeat center;
	mask: url(/icons/email.svg) no-repeat center;
}
.newresume {
	width: 25px;
	height: 25px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	background-color: white;
	-webkit-mask: url(/icons/resume.svg) no-repeat center;
	mask: url(/icons/resume.svg) no-repeat center;
}
.icons-container .newgithub:hover,
.icons-container .newlinkedin:hover,
.icons-container .newemail:hover,
.icons-container .newresume:hover {
	transform: scale(1.15);
}
@media (max-width: 500px) {
    .head-container {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media (min-width: 500px) {
	.head-container {
		padding-right: 100px;
		max-width: 500px;
	}
}

@media (min-width: 1500px) {
	.head-container {
		position: fixed;
		left: 0;
		margin-left: 150px;
		margin-top: 80px;
	}
	.head-container .fullstack {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.head-container .location {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.head-container .version {
		display: flex;
		position: fixed;
		bottom: 0;
		left: 0;
		margin-bottom: 20px;
		margin-left: 20px;
	}
	.scroll {
		display: flex;
		flex-direction: column;
	}
	.scroll a {
		text-decoration: none;
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		text-decoration: none;
		outline: none;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}
	.scroll a:hover {
		transform: scale(1.05);
	}
	.scroll .group {
		display: flex;
		flex-direction: row;
	}
	.scroll span {
		margin-left: 20px;
		margin-top: -20px;
	}
	.newscroll {
		width: 20px;
		height: 20px;
		background-color: white;
		-webkit-mask: url(/icons/arrowright.svg) no-repeat center;
		mask: url(/icons/arrowright.svg) no-repeat center;
	}
}