@import '../../styles.less';

.head-component-container {
    padding-top: @component-spacing;

    .head-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .title {
        font-size: 35px;
        color: @text-01;
    }

    .description-line {
        font-size: @fontsize-phone-medium;
        color: @text-02;
    }

    .location-line {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        font-size: @fontsize-phone-medium;
        color: @text-02;

        i {
            font-size: @fontsize-phone-medium;
            color: @text-02;
        }

        span {
            color: @text-02;
        }
    }
}

@media (min-width: 1000px) {
    .head-component-container {
        padding-top: 0px;
    }
}

@media (min-width: 1500px) {
    .head-component-container {
        .title {
            font-size: 35px;
        }

        .description-line {
            font-size: @fontsize-phone-large;
        }

        .location-line {
            font-size: @fontsize-phone-large;

            i {
                font-size: @fontsize-phone-large;
            }
        }
    }
}