@import '../../styles.less';

.head-component-container {

    .hc-leftright-container {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding-top: @component-spacing;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .profile-frame {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
    }

    .profile {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 15%;
        display: block;
        transform: scale(1.12) translateX(3px);
        transform-origin: center;
    }

    .title {
        font-size: @fontsize-phone-medium;
        color: @text-01;
    }

    .description {
        font-size: @fontsize-phone-small;
        color: @text-02;
    }
}

@media (min-width: 1000px) {
    .head-component-container {
        .hc-leftright-container {
            padding-top: 0px;
        }
    }

}

@media (min-width: 1500px) {
    .head-component-container {
        .title {
            font-size: @fontsize-phone-large;
        }

        .description {
            font-size: @fontsize-phone-medium;
        }
    }
}