.about-container {
	word-spacing: 0.1em;
	line-height: 1.5em;
	font-size: medium;
    display: flex;
    justify-content: center;
}
.about-container p {
	margin-bottom: 20px;
	color: #a9a9a9;
}
.about-container p:last-child {
	margin-bottom: 0px;
}
.education {
	display: flex;
	flex-direction: column;
    max-width: 500px;
}
.white {
	color: white;
}

@media (max-width: 500px) {
    .about-container {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media (min-width: 1500px) {
	.about-container {
		padding-top: 80px;
	}
    .education {
        max-width: 750px;
    }
}