@import '../../styles.less';

.navbar-component-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    background-color: transparent;
    font-size: @fontsize-phone-small;

    a {
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
        color: @text-01;
    }
}