.navbar-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: small;
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: transparent;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.navbar-container a {
    background-color: transparent;
    text-decoration: none;
}