.right-container {
	position: relative;
	max-width: 500px;
	margin-left: 10px;
	margin-right: 10px;
}

@media (min-width: 1500px) {
    .right-container {
        max-width: 750px;
		margin-right: 150px;
	}
}