/* font imports and global styles */
@font-face {
	font-family: Aileron-Heavy;
	src: url(/Aileron-Heavy.otf);
}
@font-face {
	font-family: Aileron;
	src: url(/Aileron-SemiBold.otf);
}
* {
	font-family: "Aileron", sans-serif;
	background-color: #111111;
	color: white;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
li {
	margin-left: 15px;
	font-size: small;
	color: #a9a9a9;
}

/* iphone view */
/* head */
.head-container {
	margin-top: 80px;
	position: relative;
	max-width: 500px;
	margin-left: 10px;
	margin-right: 10px;
}
.profile {
	border-radius: 100px;
}
.head-container .name {
	margin-top: 10px;
	font-family: "Aileron-Heavy", sans-serif;
	font-size: xx-large;
}
.head-container .fullstack {
	margin-top: 10px;
	font-family: "Aileron", sans-serif;
	font-size: large;
	color: grey;
}
.head-container .location {
	margin-top: 10px;
	font-family: "Aileron", sans-serif;
	font-size: large;
	color: grey;
}
.head-container p {
	margin-top: 10px;
	font-size: medium;
	color: #a9a9a9;
}
.head-container .version {
	display: none;
}
.scroll {
	display: none;
}
/* icons */
.lightdark {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
}
.smalllightdark {
	display: none;
}
.icons-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-top: 20px;
	margin-bottom: 80px;
}
.icons-container img {
	width: 25px;
	height: 25px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.icons-container img:hover {
	transform: scale(1.15);
}
.newgithub {
	width: 25px;
	height: 25px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	background-color: white;
	-webkit-mask: url(/icons/github.svg) no-repeat center;
	mask: url(/icons/github.svg) no-repeat center;
}
.newlinkedin {
	width: 25px;
	height: 25px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	background-color: white;
	-webkit-mask: url(/icons/linkedin.svg) no-repeat center;
	mask: url(/icons/linkedin.svg) no-repeat center;
}
.newemail {
	width: 25px;
	height: 25px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	background-color: white;
	-webkit-mask: url(/icons/email.svg) no-repeat center;
	mask: url(/icons/email.svg) no-repeat center;
}
.newresume {
	width: 25px;
	height: 25px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	background-color: white;
	-webkit-mask: url(/icons/resume.svg) no-repeat center;
	mask: url(/icons/resume.svg) no-repeat center;
}
.icons-container .newgithub:hover,
.icons-container .newlinkedin:hover,
.icons-container .newemail:hover,
.icons-container .newresume:hover {
	transform: scale(1.15);
}
/* right container */
.right-container {
	position: relative;
	max-width: 500px;
	margin-left: 10px;
	margin-right: 10px;
}
/* about me */
.about-container {
	word-spacing: 0.1em;
	line-height: 1.5em;
	font-size: medium;
}
.about-container p {
	margin-bottom: 20px;
	color: #a9a9a9;
}
.about-container p:last-child {
	margin-bottom: 0px;
}
.education {
	display: flex;
	flex-direction: column;
}
.white {
	color: white;
}
/* skills */
.skills-container {
	padding-top: 100px;
}
.sub-containers {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}
.sub-containers:first-child {
	margin-top: 0px;
}
.bubbles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}
.skills-container .title {
	font-size: larger;
	margin-bottom: 15px;
}
.spacer {
	padding: 5px;
}
.b-bubble {
	font-size: small;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
	background-color: #1e3356;
	color: #3b81f6;
}
.g-bubble {
	font-size: small;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
	background-color: #1c4829;
	color: #21c55d;
}
.p-bubble {
	font-size: small;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
	background-color: #3e2657;
	color: #a854f7;
}
.r-bubble {
	font-size: small;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
	background-color: #552221;
	color: #ef4444;
}
.y-bubble {
	font-size: small;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
	background-color: #524218;
	color: #e9b207;
}
/* Education */
.education-section h1 {
	font-size: larger;
	margin-bottom: 10px;
}
.education-section p {
	word-spacing: 0.1em;
	line-height: 1.5em;
	font-size: small;
	color: #a9a9a9;
}
.education-s {
	padding-top: 100px;
}
.education-s .title {
	font-size: larger;
	margin-bottom: 30px;
}
.education-section {
	display: flex;
	flex-direction: row;
}
.date-container {
	display: flex;
	justify-content: start;
	padding-right: 10px;
	margin-bottom: 10px;
}
.left-side {
	display: flex;
	flex-direction: column;
	width: 100px;
	padding-right: 15px;
}
.left-side img {
	width: 70px;
	height: auto;
}
.right-side {
	display: flex;
	flex-direction: column;
}
/* experience */
.experience-container {
	margin-top: 100px;
	margin-left: 10px;
	margin-right: 10px;
}
.e-title {
	margin-bottom: 30px;
	font-size: larger;
}
.date {
	font-size: small;
	color: grey;
	margin-bottom: 5px;
}
.experience2-container {
	margin-top: 40px;
}
.experience2-container .title-arrow-container {
	display: flex;
	flex-direction: row;
}
.experience2-container .arrow {
	width: 20px;
	height: 20px;
	margin-left: 10px;
	margin-top: 1px;
}
/* projects */
.projects-container {
	padding-top: 100px;
}
.demo {
	/* bump this up to 150 100 */
	width: 100px;
	height: 50px;
	border-radius: 5px;
}
.project1-container,
.project2-container,
.project3-container,
.project4-container {
	display: flex;
	flex-direction: row;
}
.project2-container {
	margin-top: 40px;
	margin-bottom: 40px;
}
.project3-container {
	margin-top: 40px;
	margin-bottom: 40px;
}
.project4-container {
	margin-top: 40px;
}
.projects-container .title {
	font-size: larger;
}
.p-title {
	margin-bottom: 30px;
	font-size: larger;
}
.sub-container {
	margin-left: 20px;
	text-decoration: none;
}
.sub-container a,
.sub-container p,
.sub-container .b-bubble,
.sub-container .title {
	text-decoration: none !important;
}
.projects-container a {
	text-decoration: none !important;
}
.sub-container p {
	margin-top: 10px;
	word-spacing: 0.1em;
	line-height: 1.5em;
	font-size: small;
	color: #a9a9a9;
	margin-bottom: 20px;
}
.newarrow {
	width: 20px;
	height: 20px;
	position: absolute;
	margin-left: 135px;
	margin-top: -20px;
	background-color: white;
	-webkit-mask: url(/icons/arrowslant.svg) no-repeat center;
	mask: url(/icons/arrowslant.svg) no-repeat center;
}
.exportgithub {
	width: 20px;
	height: 20px;
	position: absolute;
	margin-left: 135px;
	margin-top: -20px;
	background-color: white;
	-webkit-mask: url(/icons/github.svg) no-repeat center;
	mask: url(/icons/github.svg) no-repeat center;
}
.project2-container .newarrow {
	margin-left: 155px;
}
.project2-container .exportgithub {
	margin-left: 185px;
}
.project1-container .newarrow {
	margin-left: 60px;
}
.project1-container .exportgithub {
	margin-left: 90px;
}
.project3-container .exportgithub {
	margin-left: 150px;
}
.project4-container .exportgithub {
	margin-left: 145px;
}
/* footer */
.footer-container {
	margin-top: 100px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
}
.footer-container p {
	font-size: small;
	color: #a9a9a9;
}
@media (max-width: 500px) {
	.head-container {
		margin-left: 20px;
		margin-right: 20px;
	}
	.about-container {
		margin-left: 10px;
		margin-right: 10px;
	}
	.skills-container {
		margin-left: 10px;
		margin-right: 10px;
	}
	.education-s {
		margin-left: 10px;
		margin-right: 10px;
	}
	.projects-container {
		margin-left: 10px;
		margin-right: 10px;
	}
	.sub-container p {
		margin-bottom: 15px;
	}
	.project1-container,
	.project2-container,
	.project3-container,
	.project4-container {
		display: flex;
		flex-direction: column;
	}
	.demo {
		max-width: 500px;
		max-height: auto;
		width: 100%;
		height: auto;
		margin-top: 15px;
		order: 2;
	}
	.sub-container {
		order: 1;
		margin-left: 0px;
	}
}
/* media to change demo pics height and width */
@media (min-width: 500px) {
	/* parent */
	.parent-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/* head */
	.head-container {
		padding-right: 100px;
		max-width: 500px;
	}
	.demo {
		width: 150px;
		height: 100px;
	}
	.left-side {
		width: 150px;
	}
}
@media (min-width: 1500px) {
	.skills-container {
		padding-top: 0;
	}
	.parent-container {
		align-items: end;
	}
	.head-container {
		position: fixed;
		left: 0;
		margin-left: 150px;
	}
	.head-container .fullstack {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.head-container .location {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.head-container .version {
		display: flex;
		position: fixed;
		bottom: 0;
		left: 0;
		margin-bottom: 20px;
		margin-left: 20px;
	}
	.scroll {
		display: flex;
		flex-direction: column;
	}
	.scroll a {
		text-decoration: none;
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		text-decoration: none;
		outline: none;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}
	.scroll a:hover {
		transform: scale(1.05);
	}
	.scroll .group {
		display: flex;
		flex-direction: row;
	}
	.scroll span {
		margin-left: 20px;
		margin-top: -20px;
	}
	.newscroll {
		width: 20px;
		height: 20px;
		background-color: white;
		-webkit-mask: url(/icons/arrowright.svg) no-repeat center;
		mask: url(/icons/arrowright.svg) no-repeat center;
	}
	.right-container {
		max-width: 750px;
		margin-right: 150px;
	}
	.about-container {
		padding-top: 80px;
	}
	.skills-container {
		margin-top: 100px;
	}
	.experience-container {
		padding-top: 100px;
	}
	/* effects */
	.project1-container,
	.project2-container,
	.project3-container,
	.project4-container {
		display: flex;
		flex-direction: row;
		text-decoration: none;
		outline: none;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}
	.projects-container .project1-container:hover,
	.projects-container .project2-container:hover,
	.projects-container .project3-container:hover,
	.projects-container .project4-container:hover {
		transform: scale(1.05);
	}
	.projects-container .project1-container:hover p,
	.projects-container .project2-container:hover p,
	.projects-container .project3-container:hover p,
	.projects-container .project4-container:hover p {
		color: white;
	}
	.projects-container .project1-container:hover .title,
	.projects-container .project2-container:hover .title,
	.projects-container .project3-container:hover .title,
	.projects-container .project4-container:hover .title {
		color: #21c55d;
	}
	.project1-container:hover img.arrow path,
	.project2-container:hover img.arrow path,
	.project3-container:hover img.arrow path,
	.project4-container:hover img.arrow path {
		fill: #21c55d;
	}

	.project1-container:hover .newarrow,
	.project2-container:hover .newarrow,
	.project3-container:hover .newarrow,
	.project4-container:hover .newarrow {
		background-color: #21c55d;
	}

	.project1-container:hover .exportgithub,
	.project2-container:hover .exportgithub,
	.project3-container:hover .exportgithub,
	.project4-container:hover .exportgithub {
		background-color: #21c55d;
	}

	.newarrow {
		width: 20px;
		height: 20px;
		position: absolute;
		margin-left: 135px;
		margin-top: -20px;
		background-color: white;
		-webkit-mask: url(/icons/arrowslant.svg) no-repeat center;
		mask: url(/icons/arrowslant.svg) no-repeat center;
	}
	.exportgithub {
		width: 20px;
		height: 20px;
		position: absolute;
		margin-left: 135px;
		margin-top: -20px;
		background-color: white;
		-webkit-mask: url(/icons/github.svg) no-repeat center;
		mask: url(/icons/github.svg) no-repeat center;
	}

	.project1-container .newarrow {
		margin-left: 60px;
	}
	.project2-container .newarrow {
		margin-left: 155px;
	}
	.project2-container .exportgithub {
		margin-left: 180px;
	}
	.project1-container .exportgithub {
		margin-left: 85px;
	}
	.project3-container .exportgithub {
		margin-left: 145px;
	}
	.project4-container .exportgithub {
		margin-left: 145px;
	}
	/* experience */
	.experience-container {
		padding-top: 100px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.experience-container .e-title {
		font-size: larger;
		margin-bottom: 30px;
	}
	.experience-container .title {
		font-size: larger;
		margin-bottom: 10px;
	}
	.experience-container p {
		word-spacing: 0.1em;
		line-height: 1.5em;
		font-size: small;
		color: #a9a9a9;
	}
	.experience1-container {
		display: flex;
		flex-direction: row;
	}
	.experience1-container .date {
		font-size: small;
		color: #a9a9a9;
		padding: 5px;
		padding-left: 0px;
		position: absolute;
	}
	.experience1-container .sub-container {
		margin-left: 115px;
	}
	.experience2-container {
		margin-top: 20px;
		display: flex;
		flex-direction: row;
	}
	.experience2-container .date {
		font-size: small;
		color: #a9a9a9;
		padding: 5px;
		padding-left: 0px;
		position: absolute;
	}
	.experience2-container .sub-container {
		margin-left: 115px;
	}
	.experience2-container .bubbles {
		margin-top: 10px;
	}
	.experience2-container .title-arrow-container {
		display: flex;
		flex-direction: row;
	}
	.experience2-container .arrow {
		width: 20px;
		height: 20px;
		margin-left: 10px;
		margin-top: 3px;
	}
}
