@import "../../styles.less";

.skillspage-container {
    display: flex;
    min-height: calc(100vh - 55px);

    .skills-layout {
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }

    .skillspage-inner-container {
        flex: 1;

        .title {
            margin-top: @component-spacing-large;
            font-size: @fontsize-phone-medium;
            color: @text-01;
            margin-bottom: 15px;
        }

        .s-title {
            font-size: @fontsize-phone-small;
            color: @text-02;
        }

        .s-title {}

        .bubbles-container {
            margin-top: 15px;
            margin-bottom: 15px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
        }

        .blue-bubble,
        .green-bubble,
        .purple-bubble,
        .red-bubble,
        .yellow-bubble {
            font-size: @fontsize-phone-xsmall;
            padding: 5px;
            border-radius: 4px;
            color: @text-02;
            border-color: @text-02;
            border-style: solid;
            border-width: 1px;
        }
    }

    .footer-container {
        margin-top: 15px;
    }
}