.experience-container {
	margin-top: 100px;
	margin-left: 10px;
	margin-right: 10px;
}
.e-title {
	margin-bottom: 30px;
	font-size: larger;
}
.date {
	font-size: small;
	color: grey;
	margin-bottom: 5px;
}
.experience2-container {
	margin-top: 40px;
}
.experience2-container .title-arrow-container {
	display: flex;
	flex-direction: row;
}
.experience2-container .newarrow {
	width: 20px;
	height: 20px;
	margin-left: 200px;
	margin-top: 1px;
}
.experience3-container {
	margin-top: 40px;
}
.experience3-container .title-arrow-container {
	display: flex;
	flex-direction: row;
}
.experience3-container .newarrow {
	width: 20px;
	height: 20px;
	margin-left: 200px;
	margin-top: 1px;
}

@media (min-width: 500px) {
    .experience-container .sub-container {
		margin-left: 0px;
	}
}

@media (min-width: 1500px) {
	.experience-container {
		padding-top: 100px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.experience-container .e-title {
		margin-left: -10px;
		font-size: larger;
		margin-bottom: 30px;
	}
	.experience-container .title {
		font-size: larger;
		margin-bottom: 10px;
	}
	.experience-container p {
		word-spacing: 0.1em;
		line-height: 1.5em;
		font-size: small;
		color: #a9a9a9;
	}
	.experience1-container {
		display: flex;
		flex-direction: row;
	}
	.experience1-container .date {
		font-size: small;
		color: #a9a9a9;
		padding: 5px;
		padding-left: 0px;
		margin-left: -10px;
		position: absolute;
	}
	.experience1-container .sub-container {
		margin-left: 155px;
	}
	.experience2-container {
		margin-top: 40px;
		display: flex;
		flex-direction: row;
	}
	.experience2-container .date {
		font-size: small;
		color: #a9a9a9;
		padding: 5px;
		padding-left: 0px;
		margin-left: -10px;
		position: absolute;
	}
	.experience2-container .sub-container {
		margin-left: 155px;
	}
	.experience2-container .bubbles {
		margin-top: 10px;
	}
	.experience2-container .title-arrow-container {
		display: flex;
		flex-direction: row;
		height: 23px;
	}
	.experience2-container .newarrow {
		width: 20px;
		height: 20px;
		margin-left: 240px;
		margin-top: 3px;
	}
	.experience3-container {
		margin-top: 40px;
		display: flex;
		flex-direction: row;
	}
	.experience3-container .date {
		font-size: small;
		color: #a9a9a9;
		padding: 5px;
		padding-left: 0px;
		margin-left: -10px;
		position: absolute;
	}
	.experience3-container .sub-container {
		margin-left: 155px;
	}
	.experience3-container .bubbles {
		margin-top: 10px;
	}
	.experience3-container .title-arrow-container {
		display: flex;
		flex-direction: row;
		height: 23px;
	}
	.experience3-container .newarrow {
		width: 20px;
		height: 20px;
		margin-left: 240px;
		margin-top: 3px;
	}
}