@font-face {
	font-family: Aileron-Heavy;
	src: url(/Aileron-Heavy.otf);
}
@font-face {
	font-family: Aileron;
	src: url(/Aileron-SemiBold.otf);
}
* {
	font-family: "Aileron", sans-serif;
	background-color: #111111;
	color: white;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
li {
	margin-left: 15px;
	font-size: small;
	color: #a9a9a9;
}

@media (min-width: 500px) {
	.parent-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media (min-width: 1500px) {
	.parent-container {
		align-items: end;
	}
}
