/*
 Common styles used throughout the app
*/

@bg-01: #0B0A0A;
@text-01: #F6F6F5;
@text-02: #9F9C9B;
@text-link: #6F6B6A;

@page-margin: 45px; //the whole page margin

@padding-xs: 5px;
@padding-s: 8px;
@padding-m: 13px;
@padding-l: 21px;

@component-spacing: 60px;
@component-spacing-small: 30px;
@component-spacing-large: 120px;

@fontsize-phone-xsmall: 10px;
@fontsize-phone-small: 12px;
@fontsize-phone-medium: 14px;
@fontsize-phone-large: 16px;