.current-container {
    /* border-color: red;
    border-style: solid; */
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}
.current-container .current-box {
    /* border-color: blue;
    border-style: solid; */
    margin-bottom: 30px;
}
.current-title {
    color: #a9a9a9;
    font-size: medium;
    margin-bottom: 10px;
}
.current-company {
    font-size: medium;
    margin-bottom: 5px;
}
.current-pos {
    color: #a9a9a9;
    font-size: medium;
}